<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pandaaaa906's Blog</title>
    <link rel="stylesheet" href="/static/css/bootstrap.min.css">
    <script src="/static/js/bootstrap.min.js"></script>
</head>
<body>
    <div class="container-fluid">
        <div class="col-md-8 col-md-offset-2">
            {% include 'topbar.html' %}
            <div class="header">
                <h1>Pandaaaa906's Blog</h1>
                <h4>因为小程序连不上GAE所以有这个Blog..</h4>
            </div>
            {% include 'navbar.html' %}
            <div id="page-content">
                {% block content %}{% endblock %}
            </div>
        </div>

    </div>
</body>
</html>